
<div *ngIf="board" class="slide">
  <div class="container main" >
  <h1>Welcome to Kanban Board</h1>
    <p class="message">*add new task, and drop him where you want</p>
        <form class="form" (ngSubmit)="create()">
               <div class="container">
                        <div class="container__item">
                            <form class="form">
                                <input type="text" name="create"  class="form__field" [(ngModel)]="text"  placeholder="add new task..." />
                                </form>
                            <button [disabled]="!text" type="submit" class="btn btn--primary btn--inside uppercase">add</button>
                      </div>
               </div>
        </form>    
                  <table class="heavyTable">
                      <thead>
                        <tr>
                          <th>To do</th>
                          <th>Doing ({{ doingList.length }}/3)</th>
                          <th>Done</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr>
                            <td droppable class="ngx-dnd-container" (onDrop)="onItemDrop($event, 'todo')" [(ngModel)]="todoList" ngDefaultControl>
                              <div class="ngx-dnd-item"  (onDragEnd)="dragEnd($event,todoList) "  draggable [dragData]="item"  *ngFor="let item of todoList">{{ item.text }} <span data-toggle="tooltip" title="Delete" (click)="delete(item)">x</span></div>
                              
                            </td>

                            <td droppable  [dropEnabled]="isDropAllowed()" class=" ngx-dnd-container" (onDrop)="onItemDrop($event, 'doing')" ngDefaultControl  [(ngModel)]="doingList">
                              <div class="ngx-dnd-item" (onDragEnd)="dragEnd($event,doingList) " draggable [dragData]="item" *ngFor="let item of doingList">{{ item.text }} <span data-toggle="tooltip" title="Delete" (click)="delete(item)" >x</span>
                                </div>
                            </td>
                            
                            <td droppable class="ngx-dnd-container"  (onDrop)="onItemDrop($event, 'done')" [(ngModel)]="doneList" ngDefaultControl>
                              <div class="ngx-dnd-item"  (onDragEnd)="dragEnd($event,doneList) " draggable [dragData]="item" *ngFor="let item of doneList">{{item.text}} <span data-toggle="tooltip" title="Delete" (click)="delete(item)" >x</span>
                                </div>
                            </td>
                          </tr>
                        </tbody>
                </table>
   </div>     
      <div class="footer"><a href="https://github.com/npilipovic86/kanban-board#kanbanboard" target="_blank"><img class=" git"
            src="assets/git.svg" data-toggle="tooltip" title="About"></a></div>
      </div>
        <div class="loader" *ngIf="loader">
                <div class="dash uno"></div>
                 <div class="dash dos"></div>
                <div class="dash tres"></div>
                <div class="dash cuatro"></div>
        </div>
        
               
                 