<mat-card class="card">
    <mat-card-header class="card__header">
        <mat-card-title>{{ title }}</mat-card-title>
        <mat-card-subtitle>{{ timestamp }}</mat-card-subtitle>
        <mat-card-actions class="card__actions">
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card-header>
    <mat-card-content class="card__content">
        <p>
            {{ description }}
        </p>
    </mat-card-content>
</mat-card>
