<mat-card>
    <mat-card-header [style.background-color]="task.color">
        <mat-card-title>{{ task.title }}</mat-card-title>
        <mat-card-actions>
            <mat-icon matTooltip="Delete" [matTooltipPosition]="['above']" (click)="remove()">delete</mat-icon>
            <mat-icon matTooltip="Edit" [matTooltipPosition]="['above']" (click)="openDialogForEdit()">edit</mat-icon>
        </mat-card-actions>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{ task.description }}
        </p>
    </mat-card-content>
    <mat-card-footer>
        <span>{{ task?.timestamp | date: 'E, dd MMM yy, HH:mm':'+0100' }}</span>
    </mat-card-footer>
</mat-card>
