.container {
    text-align: center;

    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;

        & a {
            text-decoration: none;
        }
    }

    & .mat-list-item {
        margin: 1rem;
        width: auto !important;
    }
}
