.container {
    text-align: center;

    & .mat-list-item {
        margin: 1rem;
        width: auto !important;
    }
    & .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;

        & a {
            text-decoration: none;
        }
    }
    & .mat-card {
        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
        position: relative;
        padding: 1em;
        border-radius: 4px;
        cursor: pointer;

        & .mat-card-subtitle {
            font-size: 9px;
        }
    }
    & .edit {
        position: absolute;
        right: -10px;
        top: -42px;
        border: 2px solid #424242;
        color: #424242;
        cursor: pointer;
    }
}
